body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

.login-container {
    max-width: 200px;
    height: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: -9px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000;
    color: antiquewhite;
}

.forgot-password {
    display: block;
    color: red;
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.texto-login{
    text-transform: uppercase;
}
